body {
  margin: 5%;
  font-family: Garamond, Baskerville, serif;
  font-size:20px;
  line-height:1.5em;
}

a {
  color: #333;
  text-decoration: none;
  font-variant: small-caps;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}


h1 {
  font-style: italic;
  margin-bottom: 10px;
}

#container {
  clear: both;
  margin-top: 10px;
}

.paragraph-container {

}

.body-text :hover{
  background-color: #E6EBFA;
}

.paragraph {
 
}

textarea {
    height: 4em;
    width: 100%;
    padding: 3px;
}


.annotations-container {
  float: right;
  width: 35%;
  padding-left: 3%;
  border-left: 2px solid black;
}

.body-text  {
  float:left;
  width: 55%;
  padding-right: 3%;
  /*border-right: 2px solid black;*/
}

.has-annotations {
  border-right: 2px solid black;
}