
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

form {
  margin: 10px;
}

form input[type=text], form input[type=password] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}


/* document view */

.document .info, .document .title, .document .domain {
  display: inline-block;
  margin: 5px;

}

.newspaper {
  height: 30px;
  width: auto;
}


/* new CSS */

body {
  margin: 5%;
  font-family: Garamond, serif;
  font-size:20px;
  line-height:1.5em;
}
em {
  font-style: italic;
}

h1, h2 {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: #333;
  text-decoration: none;
  font-variant: small-caps;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

.paragraph {
  clear: left;
  position: relative;
}

.body-text :hover{
  background-color: #E6EBFA;
}

textarea {
    height: 4em;
    width: 100%;
    padding: 3px;
}

.annotations-container {
  padding-top: 1em;
  float: right;
  width: 35%;
  padding-left: 3%;
  opacity: 0;
  font-size:16px;
  line-height: 1em;
  /*border-left: 2px solid black;*/
}

.caption{
  font-style: italic;
  font-size: 0.8em;
}

.annotation-user {
  font-weight: bold;
  padding-bottom: 0px;
}

.body-text  {
  float:left;
  width: 55%;
  padding-right: 3%;
  /*border-right: 2px solid black;*/
}

img{
  width: 100%;
}

.count {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  float: left;
  position: absolute;
}

.has-annotations {
  border-right: 2px solid black;
}